@import './base.css';

.container {
    max-width: 1200px;
    margin: auto;
}

/*https://www.gradient-animator.com/*/

.bg-animated {
    background: #92278f;
    background: linear-gradient(270deg, var(--q-primary), var(--q-secondary), var(--q-accent));
    background-size: 600% 600%;
    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    -o-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;
}

.bg-animated-i[class*=icon],
.bg-animated-i [class*=icon],
.bg-animated-text > *,
.bg-animated-text {
    background: #92278f;
    background: linear-gradient(270deg, var(--color-background), var(--color-heading), var(--color-text));
    background-size: 600% 600%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    -o-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;
    text-stroke: 0.4px #808080;
    -webkit-text-stroke: 0.4px #808080;
    text-shadow: 0px 0px 100px #000000;
}

.bg-glass {
    backdrop-filter: blur(6px);
}

.bg-glass--white {
    backdrop-filter: blur(6px);
    background-color: var(--bg-white-glass);
}

.bg-glass--black {
    backdrop-filter: blur(6px);
    background-color: var(--bg-black-glass);
}

.bg-glass--primary {
    backdrop-filter: blur(6px);
    background-color: var(--bg-primary-glass);
}
.bg-glass--secondary {
    backdrop-filter: blur(6px);
    background-color: var(--bg-secondary-glass);
}
.bg-glass--accent {
    backdrop-acce: blur(6px);
    background-color: var(--bg-accent-glass);
}

.bg-glass--accent {
    backdrop-acce: blur(6px);
    background-color: var(--bg-accent-glass);
}
.bg-glass--slim {
    backdrop-filter: blur(2px);
}
.bg-glass--fat {
    backdrop-filter: blur(8px);
}

@-webkit-keyframes AnimationName {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes AnimationName {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@-o-keyframes AnimationName {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes AnimationName {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}