$primary: #92278f
$secondary: #27aae1
$accent: #d6e89e

$dark: #171717
$dark-page: #333333

$positive: #21BA45
$negative: #b10215
$info: #27aae1
$warning: #f0b71a

@media (prefers-color-scheme: dark)
  \:root
    --q-primary: #27aae1
    --q-secondary: #92278f
    --q-positive: #84ff68
    --q-negative: #ff6879
    --q-info: #68d2ff
    --q-warning: #ffbe68



